<!DOCTYPE html>
<html>
	<head>
		<title>api访问记录-列表</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css">
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
	</head>
	<body>
		<div style="margin-top: -1em;" title="防止margin向下击穿"><br></div>
		<div class="vue-box" style="display: none;" :style="'display: block;'">
			<div class="c-panel">
				<!-- 参数栏 -->
				<div class="c-title">检索参数</div>
				<el-form size="mini" :inline="true" @submit.native.prevent>
					<el-form-item label="记录id：">
						<el-input v-model="p.id"></el-input>
					</el-form-item>
					<el-form-item label="请求id：">
						<el-input v-model="p.req_id"></el-input>
					</el-form-item>
					<el-form-item label="请求api：">
						<el-input v-model="p.req_api"></el-input>
					</el-form-item>
					<el-form-item style="min-width: 0px;">
						<el-button type="primary" icon="el-icon-search" @click="p.pageNo = 1; f5()">查询</el-button>
					</el-form-item>
					<br>
					<el-form-item label="res状态：">
						<el-input v-model="p.res_code"></el-input>
					</el-form-item>
					<el-form-item label="user_id：">
						<el-input v-model="p.user_id"></el-input>
					</el-form-item>
					<el-form-item label="admin_id：">
						<el-input v-model="p.admin_id"></el-input>
					</el-form-item>
					<br>
					<el-form-item label="请求ip：">
						<el-input v-model="p.req_ip"></el-input>
					</el-form-item>
					<el-form-item label="请求时间：">
						<el-date-picker v-model="p.s_time" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" placeholder="开始日期"></el-date-picker> - 
						<el-date-picker v-model="p.e_time" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" placeholder="结束日期"></el-date-picker>
					</el-form-item>
					<br />
					<el-form-item label="综合排序：" class="s-radio-text">
						<el-radio-group v-model="p.sort_type">
							<el-radio :label="0">默认</el-radio>
							<el-radio :label="1">请求时间</el-radio>
							<el-radio :label="2">请求耗时</el-radio>
						</el-radio-group>
					</el-form-item>
				</el-form>
				<!-- 数据列表 -->
				<div class="c-title">数据列表</div>
				<el-table :data="dataList" size="mini">
					<el-table-column label="记录id" prop="id" width="80px" ></el-table-column>
					<el-table-column label="请求id" width="200px">
						<template slot-scope="s">
							<div style="width: 150px;">{{s.row.req_id}}</div>
						</template>
					</el-table-column>>
					<el-table-column label="请求接口" width="250px">
						<template slot-scope="s">
							<p style="color: #44f;">
								{{sa.maxLength(s.row.req_api)}}
								<b style="color: #333; margin-left: 5px;">{{s.row.req_type}}</b>
							</p>
							<p>{{sa.maxLength(s.row.req_parame)}}</p>
						</template>
					</el-table-column>>
					<el-table-column label="请求返回" width="370px">
						<template slot-scope="s">
							<p><b>{{s.row.res_code}}</b> - {{s.row.res_msg}}</p>
							<p>{{sa.maxLength(s.row.res_string, 60)}}</p>
						</template>
					</el-table-column>>
					<el-table-column label="请求时间" width="280px">
						<template slot-scope="s">
							<p>
								开始：{{sa.forDate(s.row.start_time, 'yyyy-MM-dd HH:mm:ss.ms')}} - 
								<b>{{sa.isNull(sa.forDate2(s.row.start_time), '无')}}</b>
							</p>
							<p>
								结束：{{sa.forDate(s.row.end_time, 'yyyy-MM-dd HH:mm:ss.ms')}} - 
								<b style="color: green;">耗时：{{(s.row.cost_time + 0.0) / 1000}}s</b>
							</p>
						</template>
					</el-table-column>
					<!-- <el-table-column label="请求耗时">
						<template slot-scope="s">
							<b style="color: green;">{{(s.row.cost_time + 0.0) / 1000}}s</b>
						</template>
					</el-table-column>> -->
					<el-table-column label="请求账号" width="150px">
						<template slot-scope="s">
							<p>user_id：&nbsp;&nbsp;&nbsp;{{s.row.user_id}}</p>
							<p>admin_id：{{s.row.admin_id}}</p>
						</template>
					</el-table-column>>
					<el-table-column label="请求ip" prop="req_ip" ></el-table-column>
					<el-table-column label="操作" width="120px" >
						<template slot-scope="s">
							<el-button type="text" size="mini" @click="copy(s.row)">复制</el-button>
							<el-button type="text" size="mini" @click="del(s.row)" v-if="way == 1">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
				<!-- 分页 -->
				<div class="page-box">
					<el-pagination background
						layout="total, prev, pager, next, sizes, jumper" 
						:current-page.sync="p.pageNo" 
						:page-size.sync="p.pageSize" 
						:total="dataCount" 
						:page-sizes="[1, 5, 10, 20, 30, 40, 50, 100]" 
						@current-change="f5()" 
						@size-change="f5()">
					</el-pagination>
				</div>
			</div>
		</div>
		<script>
			var app = new Vue({
				el: '.vue-box',
				data: {
					sa: sa,
					p: { // 查询参数  
						pageNo: 1,
						pageSize: 10,
						id: '',
						req_id: '',
						req_ip: '',
						req_api: '',
						res_code: '',
						user_id: '',
						admin_id: '',
						s_time: '',
						e_time: '',
						sort_type: 0
					},
					way: sa.p('way', 2),
					dataCount: 0,
					dataList: [], // 数据集合
				},
				methods: {
					// 刷新
					f5: function() {
						sa.ajax('/SgApilog/getList', sa.removeNull(this.p), function(res) {
							this.dataList = res.data; // 数据
							this.dataCount = res.dataCount; // 数据总数 
						}.bind(this));
					},
					// 查看 
					copy: function(data) {
						// sa.showIframe('数据详情', 'api-log-info.html?id=' + data.id);
						sa.copyText(JSON.stringify(data));
						sa.ok('已成功复制到剪贴板');
					},
					// 删除  
					del: function(data) {
						sa.confirm('是否删除，此操作不可撤销', function() {
							sa.ajax('/SgApilog/delete?id=' + data.id, function(res) {
								sa.arrayDelete(this.dataList, data);
								sa.ok('删除成功');
							}.bind(this))
						}.bind(this));
					},
					
				},
				created: function() {
					this.f5();
				}
			})
		</script>
	</body>
</html>
